.home {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .link {
    border: 1px solid #242545;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
